img{
    width: 30%;
    float: left;
    margin: 1.66%;
}
h1{
    font-family: 'Raleway';
    font-size: 30px;
    text-transform: uppercase;
    margin: 1.66%;
    padding: 20px 0;
    /* width: 30%; */
    border-top: 3px solid #f1f1f1;
    border-bottom: 3px solid #f1f1f1;
}